In [2]:
import pandas as pd
from pathlib import Path

In [20]:
df = pd.read_csv(Path('../../data/raw/rail_ridership.csv'))
df

"""
direction_id - 0 = outbound, 1 = inbound
"""

'\ndirection_id - 0 = outbound, 1 = inbound\n'

In [21]:
# drop unecessary cols
df = df.drop(columns=['mode', 'route_name', 'day_type_id', 'stop_name', 'ObjectId'], axis=1)

In [24]:
df

,season,route_id,direction_id,day_type_name,time_period_id,time_period_name,stop_id,total_ons,total_offs,number_service_days,average_ons,average_offs,average_flow
0,Fall 2019,Green,0,weekday,time_period_01,VERY_EARLY_MORNING,place-alsgr,0,17,77,0,0,4
1,Fall 2019,Green,0,weekday,time_period_01,VERY_EARLY_MORNING,place-armnl,2675,8021,77,35,104,381
2,Fall 2019,Green,0,weekday,time_period_01,VERY_EARLY_MORNING,place-babck,0,151,77,0,2,8
3,Fall 2019,Green,0,weekday,time_period_01,VERY_EARLY_MORNING,place-bckhl,0,36,77,0,0,4
4,Fall 2019,Green,0,weekday,time_period_01,VERY_EARLY_MORNING,place-bcnfd,12,67,77,0,1,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7915,Fall 2017,Red,0,saturday,time_period_10,OFF_PEAK,place-portr,59366,9940,16,3710,621,13842
7916,Fall 2017,Red,0,saturday,time_period_10,OFF_PEAK,place-qamnl,388,26507,16,24,1657,1549
7917,Fall 2017,Red,0,saturday,time_period_10,OFF_PEAK,place-qnctr,2128,67000,16,133,4188,3182
7918,Fall 2017,Red,0,saturday,time_period_10,OFF_PEAK,place-shmnl,2292,18338,16,143,1146,7237
7919,Fall 2017,Red,0,saturday,time_period_10,OFF_PEAK,place-smmnl,657,28253,16,41,1766,3361

In [15]:
df.isnull().sum()

mode                   0
season                 0
route_id               0
direction_id           0
day_type_name          0
time_period_id         0
time_period_name       0
stop_name              0
stop_id                0
total_ons              0
total_offs             0
number_service_days    0
average_ons            0
average_offs           0
average_flow           0
ObjectId               0
dtype: int64