In [2]:
import pandas as pd
from pathlib import Path

In [5]:
df = pd.read_csv(Path('../../data/raw/bus_ridership.csv'))
df

/var/folders/_r/bzdphl5j26xf4tvws1yzvmv00000gn/T/ipykernel_96108/3574188395.py:1: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(Path('../../data/raw/bus_ridership.csv'))

,mode,season,route_id,route_name,route_variant,stop_sequence,direction_id,day_type_id,day_type_name,time_period_id,time_period_name,stop_name,stop_id,average_ons,average_offs,average_load,num_trips,ons_all_trips,ObjectId
0,3,Fall 2016,1,1,1-_-0,19,0,day_type_01,weekday,time_period_06,PM_PEAK,MASSACHUSETTS AVE @ SIDNEY ST,101,1.400000,2.636842,32.894737,19,26.6,1
1,3,Fall 2016,1,1,1-_-0,20,0,day_type_01,weekday,time_period_06,PM_PEAK,MASSACHUSETTS AVE @ PROSPECT,102,3.868421,10.178947,26.584211,19,73.5,2
2,3,Fall 2016,1,1,1-_-0,21,0,day_type_01,weekday,time_period_06,PM_PEAK,MASSACHUSETTS AVE @ BIGELOW S,104,1.521053,1.168421,26.936842,19,28.9,3
3,3,Fall 2016,1,1,1-_-0,22,0,day_type_01,weekday,time_period_06,PM_PEAK,MASSACHUSETTS AVE @ HANCOCK S,106,0.321053,1.621053,25.626316,19,6.1,4
4,3,Fall 2016,1,1,1-_-0,23,0,day_type_01,weekday,time_period_06,PM_PEAK,MASSACHUSETTS AVE @ DANA ST,107,0.647368,3.336842,22.942105,19,12.3,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086506,3,Fall 2024,99,99,99-7-1,31,1,day_type_03,sunday,time_period_11,OFF_PEAK,MAIN ST @ TILESTON ST,5403,0.300000,0.200000,5.000000,15,4.5,1086507
1086507,3,Fall 2024,99,99,99-7-1,32,1,day_type_03,sunday,time_period_11,OFF_PEAK,MAIN ST @ WEST ST,5404,0.500000,0.200000,5.300000,15,7.5,1086508
1086508,3,Fall 2024,99,99,99-7-1,33,1,day_type_03,sunday,time_period_11,OFF_PEAK,SANTILLI CIRCLE,5561,0.400000,0.500000,5.300000,15,6.0,1086509
1086509,3,Fall 2024,99,99,99-7-1,36,1,day_type_03,sunday,time_period_11,OFF_PEAK,CORPORATION WAY,6569,0.000000,0.100000,5.200000,15,0.0,1086510
1086510,3,Fall 2024,99,99,99-7-1,37,1,day_type_03,sunday,time_period_11,OFF_PEAK,WELLINGTON STATION BUSWAY,5271,0.000000,5.100000,0.100000,15,0.0,1086511

In [7]:
# drop unnecessary cols
df = df.drop(['mode', 'route_name', 'route_variant', 'stop_sequence', 'day_type_id', 'stop_name', 'ObjectId'], axis=1)

In [8]:
df

,season,route_id,direction_id,day_type_name,time_period_id,time_period_name,stop_id,average_ons,average_offs,average_load,num_trips,ons_all_trips
0,Fall 2016,1,0,weekday,time_period_06,PM_PEAK,101,1.400000,2.636842,32.894737,19,26.6
1,Fall 2016,1,0,weekday,time_period_06,PM_PEAK,102,3.868421,10.178947,26.584211,19,73.5
2,Fall 2016,1,0,weekday,time_period_06,PM_PEAK,104,1.521053,1.168421,26.936842,19,28.9
3,Fall 2016,1,0,weekday,time_period_06,PM_PEAK,106,0.321053,1.621053,25.626316,19,6.1
4,Fall 2016,1,0,weekday,time_period_06,PM_PEAK,107,0.647368,3.336842,22.942105,19,12.3
...,...,...,...,...,...,...,...,...,...,...,...,...
1086506,Fall 2024,99,1,sunday,time_period_11,OFF_PEAK,5403,0.300000,0.200000,5.000000,15,4.5
1086507,Fall 2024,99,1,sunday,time_period_11,OFF_PEAK,5404,0.500000,0.200000,5.300000,15,7.5
1086508,Fall 2024,99,1,sunday,time_period_11,OFF_PEAK,5561,0.400000,0.500000,5.300000,15,6.0
1086509,Fall 2024,99,1,sunday,time_period_11,OFF_PEAK,6569,0.000000,0.100000,5.200000,15,0.0
1086510,Fall 2024,99,1,sunday,time_period_11,OFF_PEAK,5271,0.000000,5.100000,0.100000,15,0.0