In [2]:
import pandas as pd
from pathlib import Path

In [17]:
df = pd.read_csv(Path('../../data/raw/rail_ridership.csv'))
df

"""
direction_id - 0 = outbound, 1 = inbound
"""

'\ndirection_id - 0 = outbound, 1 = inbound\n'

In [18]:
# drop unecessary cols
df = df.drop(columns=['route_name', 'day_type_id', 'time_period_id'], axis=1)

In [19]:
df

,mode,season,route_id,direction_id,day_type_name,time_period_name,stop_name,stop_id,total_ons,total_offs,number_service_days,average_ons,average_offs,average_flow,ObjectId
0,0,Fall 2019,Green,0,weekday,VERY_EARLY_MORNING,Allston Street,place-alsgr,0,17,77,0,0,4,1
1,0,Fall 2019,Green,0,weekday,VERY_EARLY_MORNING,Arlington,place-armnl,2675,8021,77,35,104,381,2
2,0,Fall 2019,Green,0,weekday,VERY_EARLY_MORNING,Babcock Street,place-babck,0,151,77,0,2,8,3
3,0,Fall 2019,Green,0,weekday,VERY_EARLY_MORNING,Back of the Hill,place-bckhl,0,36,77,0,0,4,4
4,0,Fall 2019,Green,0,weekday,VERY_EARLY_MORNING,Beaconsfield,place-bcnfd,12,67,77,0,1,44,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7915,1,Fall 2017,Red,0,saturday,OFF_PEAK,Porter,place-portr,59366,9940,16,3710,621,13842,7916
7916,1,Fall 2017,Red,0,saturday,OFF_PEAK,Quincy Adams,place-qamnl,388,26507,16,24,1657,1549,7917
7917,1,Fall 2017,Red,0,saturday,OFF_PEAK,Quincy Center,place-qnctr,2128,67000,16,133,4188,3182,7918
7918,1,Fall 2017,Red,0,saturday,OFF_PEAK,Savin Hill,place-shmnl,2292,18338,16,143,1146,7237,7919
7919,1,Fall 2017,Red,0,saturday,OFF_PEAK,Shawmut,place-smmnl,657,28253,16,41,1766,3361,7920

In [15]:
df.isnull().sum()

mode                   0
season                 0
route_id               0
direction_id           0
day_type_name          0
time_period_id         0
time_period_name       0
stop_name              0
stop_id                0
total_ons              0
total_offs             0
number_service_days    0
average_ons            0
average_offs           0
average_flow           0
ObjectId               0
dtype: int64